<div class="beach-details">
  <div class="header">
    <span>{{beachShortName}}</span>
    <button slot="end" class="close" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
  <div class="info">
    <div class="label-container">
      <div class="label">
        <img class="icon" src="assets/coli.png">
        <span class="coli">Ешерихия коли:</span> {{coli}} <span class="unit">MPN/100 cm<sup>3</sup></span>
      </div>
      <div class="label">
        <img class="icon" src="assets/enterococi2.png">
        <span class="enterococi">Ентерококи:</span> {{coci}} <span class="unit">MPN/100 cm<sup>3</sup></span>
      </div>
    </div>
    <button class="close center" (click)="switchInfo()">
      <ion-icon *ngIf="!showInfo" name="information-circle-outline"></ion-icon>
      <ion-icon *ngIf="showInfo" name="stats"></ion-icon>
    </button>
  </div>
  <div class="chart-box" id="chart" #chart *ngIf="dataArray">
    <chart-component *ngIf="!showInfo" [dataArray]="dataArray"></chart-component>
    <info-component *ngIf="showInfo"></info-component>

  </div>
</div>
