<div class="label">
  <span class="coli">Ешерихия коли <span class="unit">(MPN/100 cm<sup>3</sup>)</span>:</span>
  <div class="bullet">
    &#9679; Над 500 - къпането във водата е
    опасно!
  </div>
  <div class="bullet">
    &#9679; От 200 до 500 - къпането във водата с
    повишено внимание!
  </div>
  <div class="bullet">
    &#9679; Под 200 - къпането във водата не крие
    опасност.
  </div>
</div>

<div class="label">
  <span class="enterococi">Ентерококи <span class="unit">(MPN/100 cm<sup>3</sup>)</span>:</span> 
  <div class="bullet">
    &#9679; Над 200 - къпането във водата е опасно!
  </div>
  <div class="bullet">
    &#9679; От 80 до 200 - къпането във водата с повишено внимание!
  </div>
  <div class="bullet">
    &#9679; Под 80 - къпането във водата не крие опасност.
  </div>
</div>
