// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// .mapboxgl-canvas-container {
//   height: 100%;
//   width: 100%;
// }

// body {
//     color: aqua !important;
// }

.searchbar-search-icon.sc-ion-searchbar-md{
    border-radius: 20px;
    background-image: linear-gradient( to bottom right, rgb(134, 3, 211), rgb(53, 0, 83) );
    color: white!important;

    left: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
  }

.marker {
  background-image: url(../src/assets/location.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.select-modal {
  padding-top: 33vh !important;  
}

.modal-wrapper.sc-ion-modal-md{
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}